.vscode/**
.vscode-test/**
src/**
webview/**
out/**
node_modules/**
.gitignore
esbuild.js
vite.config.mts
tsconfig.json
**/*.map
**/*.ts
**/*.tsx
media/main.js
media/main.css
media/activity.js
media/activity.css
.env